body {
  width: 100vh;
  height: 100vh;
  margin: auto;
}
.map {
  margin: auto;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 840px;
  height: 840px;
  border: 1px solid black;
}
.one-tile {
  display: flex;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  cursor: pointer;
}
.one-tile img {
  width: 35px;
  height: 35px;
}
.one-tile:hover {
  background-color: gray;
}
.player {
  background-color: green;
}
.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 650px;
  max-width: 80%;
}
.popup-container.active {
  transform: translate(-50%, -50%) scale(1);
}
.popup-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.popup-header .title {
  font-size: 20px;
  font-weight: bold;
}
.popup-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 20px;
  font-weight: bold;
}
.organism-list {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
#overlay.active {
  opacity: 1;
  pointer-events: all;
}
.organism-tile {
  width: 250px;
  height: 100px;
  cursor: pointer;
  padding: 10px 15px;
  display: flex;
  background-color: #9aa397;
  border: 1px solid black;
  border-radius: 7px;
}
.organism-row-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.organism-list img {
  width: 50px;
  height: 50px;
}

.rotate-tile-by-45-deg {
  transform: rotate(45Deg);
}